</footer>
<footer class="footer" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
            <!--Column1-->
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li>
                        Jozef Plateaustraat 1<br>
                        9000 Gent<br>
                        <br>
                        </li>
                        <li>03 644 88 99</li>
                        <li>info@fetch.be</li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <!--Column1-->
                    <h4>Connect.</h4>
                    <br>
                        <a href="#"><img class="socialmedia" src="assets/img/facebook.png" alt="facebook"></a>
                        <a href="#"><img class="socialmedia" src="assets/img/instagram.png" alt="instagram"></a>
                        <a href="#"><img class="socialmedia" src="assets/img/twitter.png" alt="twitter"></a>
                        <a href="#"><img class="socialmedia" src="assets/img/snapchat.png" alt="snapchat"></a>
                        <a href="#"><img class="socialmedia" src="assets/img/pinterest.png" alt="pinterest"></a>
                </div>
                <div class="col-md-3 col-sm-6 text-rechts">
                    <!--Column1-->
                    <h4>Fetch.</h4>
                    <ul class="list-unstyled">
                        {% assign links = site.data.navigation %}
                        {% for link in links %}
                            {% assign class = nil %}
                            {% if link.url contains page.url %}
                                {% assign class = 'active' %}
                            {% endif %}
                                <li>
                                    <a href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                                </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
<!--
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                <p class="text-xs-center">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
-->
    </footer>