{% assign nodes = site.pages | where: 'layout', 'default' | sort: 'title' %}

<nav class="nav nav-pills justify-content-end">
    <a class="navbar-brand logo" href="index.html">Fetch.</a>
    {%- assign links = site.data.navigation %}
        {%- for link in links %}
            {%- assign is_active = false %}
            {%- if link.url == page.url %}
                {% assign is_active = true %}
            {%- endif %}
        <a class="nav-page {% if is_active %} active {% endif %}" href="{{ link.url | relative_url }}">{{ link.title }}</a>
        {%- endfor %}
</nav>
