
<nav class="navbar toplijn navbar-expand-lg">
    <!-- websitelogo -->
    <a class="navbar-brand logo" href="index.html">Fetch.</a>
    
    <!-- hamburger icoon -->
    <button class="hamburger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/img/hamburger.png" class="navbar-toggler-icon">
    </button>
    
    <!-- hoofdnavigatie -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% assign links = site.data.navigation %}
            {% for link in links %}
                {% assign class = nil %}
                {% if link.url contains page.url %}
                    {% assign class = 'active' %}
                {% endif %}
                {% if link.sublinks %}
                    <li class="nav-item dropdown {{ class }}">
                        <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle {{ class }}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for sublink in link.sublinks %}
                                    <li class="dropdown-item">
                                        <a class="nav-page {% if is_active %} active {% endif %}" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                    </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item {{ class }}">
                        <a class="nav-page {% if is_active %} active {% endif %}" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</nav>