<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed" rel="stylesheet">
</head>
<body class="page-full">
{%- include nav.html %}
    <div class="body">
        {{ content }}
    </div>
    <div class="footer">
        {%- include footer.html %}
    </div>

{%- include scripts-bottom.html %}
</body>
</html>